body
{
    background-color: hsl(229, 87%, 91%);
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
}


#container
{
    width: 375px;
    height: 560px;
    font-family: 'Red Hat Display', sans-serif;
    background-color: white;
    border-radius: 20px;
}

.header
{
    display: inline-block;
    border-radius: 20px;
}

.header-image
{
    width: 375px;
    border-radius: 20px 20px 0 0;
}

.section-main{
    text-align: center;
}

.section-main-h1{
    margin-top: 30px;
}

.section-main-h1-paragrafo{
    margin-top: -10px;
    width: 280px;
    margin-left: 45px;
    line-height: 1.5;
}

.section-card
{
    width: 310px;
    margin-left: 29px;
    display: inline-block;
    background-color:hsl(225, 100%, 98%);
    border-radius: 10px;
    height: 70px;
}

.icon-music
{
    height: 40px;
    margin-top: 15px;
    margin-left: 15px;
}

.section-card-h2
{
    font-size: 15px;
    height: 20px;
    width: 77px;
    margin-left: 10px;
    float: right;
    margin-right: 160px;
    border: 1px solid transparent;
}

.section-card-h2-paragrafo-two
{
    margin-top: -25px;
    font-size: 13px;
    border: 1px solid transparent;
}

.section-card-h2-paragrafo-three
{
    float: right;
    margin-top: -45px;
    width: 50px;
    margin-right: 30px;
    border: 1px solid transparent;
}

.section-card-h2-paragrafo-three:hover
{
    text-decoration: underline;
    color:rgba(0, 0, 255, 0.336);
}


.section-card-two
{
    margin-top: 30px;
    width: 308px;
    height: 40px;
    margin-left: 29px;
    border-radius: 10px;
    background-color: hsl(245, 75%, 52%);
}

.section-card-two-link
{
    height: 20px;
    width: 150px;
    float: right;
    margin-top: 10px;
    margin-right: 80px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.footer
{
    display: inline-block;
    margin-top: 30px;
    margin-left:140px;
}

.footer-link
{
    color: hsl(240, 1%, 42%);
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}